.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

textarea {
    width: auto;
    height: 100px;
}
