#numOfPageVisits {
    margin: 10px;
    position: fixed;
    right: 10;
    bottom: 10;
}

img {
    height: 250px;
    width: auto;
}

.picture-group {
    margin: 20px;
    float: left;
}

.picture-group p{
    width: 250px;
}
